<div class="footer-left">
    <a id="github-link" href="https://github.com/ezegrandia/mokepon" target="_blank">
        <button id="github-btn" class="footer-btn hover github-btn"></button>
    </a>
    <a id="linkedin-link" href="https://www.linkedin.com/in/ezegrandia/" target="_blank">
        <button id="linkedin-btn" class="footer-btn hover linkedin-btn"></button>
    </a>
</div>
<div class="footer-center">
    <small id="small-footer" class="small-legend"> Un proyecto desarrollado por: </small>
    <a class="dev-name-link hover" href="https://www.linkedin.com/in/ezegrandia/" target="_blank">Ezequiel Grandía</a>
</div>
