<div class="signature-container">
    <a
        id="signature"
        class="signature signature-hover header-element"
        href="https://www.linkedin.com/in/ezegrandia/"
        target="_blank"
        >EZGR-DEV ®</a
    >
</div>
<div class="header-controls-container">
    <button id="audio-btn" class="header-btn header-element header-element-hover audio-btn" onclick="soundOnOf()"></button>
    <audio id="audio" src="/assets/audio/main-audio.mp3" loop="loop"></audio>
    <button
        id="spanish-btn"
        class="header-btn header-element header-element-hover spanish-btn"
        onclick="changeLanguagePage('es')"
    ></button>
    <button
        id="english-btn"
        class="header-btn header-element header-element-hover english-btn"
        onclick="changeLanguagePage('en')"
    ></button>
    <button id="help-btn" class="header-btn header-element header-element-hover help-btn" onclick="openHelpPanel()"></button>
</div>
