<div class="help-btn-escape-container">
    <button
        id="close-help-btn"
        class="header-btn header-element header-element-hover close-help-btn"
        onclick="closeHelpPanel()"
    ></button>
</div>
<div class="text-container">
    <h3 id="help-panel__title" class="help-panel__title">Panel de Ayuda:</h3>
    <p id="help-panel__text" class="help-panel__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum esse possimus fugit amet, sed natus, omnis
        ipsum libero nisi cupiditate, officiis odio? Corrupti nesciunt repudiandae non, saepe beatae fugiat
        dolore.
    </p>
</div>